:root {
	--bg-color-1: #A8D1E8;
	--bg-color-1-5: #B3DBDA;
	--bg-color-2: #FEE5E0;
	--bg-color-2-5: #FFBFC3;
	--bg-color-3: #A9A199;
	--bg-color-3-5: #B8B1A8;
	--font-color-3: #7C878A;
	--font-color-2: #EAD7D0;
	--font-color: #FFE1E4;
	--accent-color: #FF9094;
}
